@charset "UTF-8";
/* ==========================================================================
Abstract
========================================================================== */
:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(260, 7%, 8%);
  --clr-cream: hsl(34, 100%, 95%);
  --clr-red: hsl(6, 71%, 59%);
  --clr-yellow: hsl(39, 100%, 75%);
  --clr-yellow-dark: hsl(39, 100%, 60%);
  --clr-gray-light: hsl(0, 0%, 65%);
  --clr-gray: hsl(50, 6%, 20%);
  --clr-gray-dark: hsl(48, 5%, 15%);
  --ff-regular: "League Spartan", sans-serif;
  --ff-accent: "", serif;
  --fw-regular: 400;
  --fw-bold: 600;
  --fs-small: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-regular: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --fs-semi-medium: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --fs-medium: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --fs-extra-medium: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --fs-semi-large: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --fs-large: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
  --fs-extra-large: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
}

/* ==========================================================================
Base
========================================================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-regular);
  font-size: var(--fs-regular);
  font-weight: var(--fw-regular);
  color: var(--clr-black);
  background-color: var(--clr-cream);
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
}

img, picture, video, canvas, svg {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  line-height: 1.1;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  accent-color: var(--clr-yellow);
}

a:hover {
  color: var(--clr-red);
}

*:focus-visible {
  outline: 4px solid var(--clr-red);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========================================================================
Components
========================================================================== */
.header {
  --max-width: 800px;
  --gutter: 2rem;
}
.header__title {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
}
.header__subtitle {
  font-size: var(--fs-medium);
  text-wrap: pretty;
}

.card {
  --lines: 5;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 10px 10px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
  padding: 1rem;
}
.card__title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-semi-medium);
}
.card__header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.star-rating {
  --star-size: 25px;
  --star-color: var(--clr-gray-light);
  --star-background: var(--clr-yellow-dark);
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}
.star-rating::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: text-bottom;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rating__circle {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--clr-yellow);
  display: grid;
  place-content: center;
  place-items: center;
}
.rating__value {
  font-weight: bold;
  font-size: var(--fs-semi-medium);
}
.rating__label {
  margin-top: 0.25rem;
}

.review {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 6px 6px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
}
.review__title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-semi-medium);
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.review-form__input {
  padding: 0.5rem;
  background-color: var(--clr-white);
  border-width: 3px;
}
.review-form__textarea {
  padding: 0.5rem;
  resize: none;
  aspect-ratio: 100/75;
  background-color: var(--clr-white);
  border-width: 3px;
}
.review-form__slider {
  vertical-align: middle;
  accent-color: var(--clr-yellow);
  min-width: 0;
}
.review-form__slider-group {
  display: grid;
  grid-template-columns: 12ch 1fr 1ch;
  gap: 1rem;
}
.review-form__input-group {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 1rem;
  align-items: center;
}

.search {
  padding: 1rem;
  color: var(--clr-gray);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 6px 6px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
}

.dropdown {
  padding: 1rem;
  color: var(--clr-gray);
  font-weight: var(--fw-bold);
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 6px 6px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
}

.top-nav {
  position: absolute;
  top: 0.35rem;
  left: 1.75rem;
}

.footer {
  text-align: center;
  margin-top: 5rem;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-top: calc(1ex - 1cap);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lines, 3);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.texture {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: repeat;
  background-image: url("../images/noise.png");
  pointer-events: none;
}

.button {
  margin-top: 1rem;
  position: relative;
  display: block;
  background: transparent;
  border: none;
  padding: 0px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
.button:focus-visible {
  outline: 3px solid var(--clr-red);
  outline-offset: 2px;
}
.button__front {
  display: block;
  position: relative;
  padding: 0.75rem 2rem;
  border-radius: 0.75rem;
  font-weight: var(--fw-bold);
  color: var(--clr-gray-dark);
  background: var(--clr-yellow);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}
.button__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  background: linear-gradient(to left, hsl(39, 100%, 25%) 0%, hsl(39, 100%, 35%) 8%, hsl(39, 100%, 35%) 92%, hsl(39, 100%, 25%) 100%);
}
.button:hover {
  filter: brightness(105%);
}
.button:hover .button__front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button__front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.button:hover .button__shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}
.button:active .button__shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.button:focus:not(:focus-visible) {
  outline: none;
}

/* ==========================================================================
Pages
========================================================================== */
.home {
  background-image: url("../images/blob_yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-cream);
  padding-block: 2rem;
}
.home-main {
  --max-width: 1400px;
  --gutter: 2rem;
  container: home-main/inline-size;
}
.home-controls {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding-block: 3rem;
}
@container home-main (inline-size < 500px) {
  .home-controls {
    grid-template-columns: 1fr;
  }
}
.home-grid {
  --min: 350px;
  --gap: 2rem;
}

.course {
  background-image: url("../images/blob_yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-cream);
}
.course-main {
  --max-width: 1400px;
  --gutter: 1rem;
  --min: 350px;
  --gap: 2rem;
  margin-block: 5rem;
  padding: 2rem;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 14px 14px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
}

.four-zero-four {
  background-image: url("../images/blob_yellow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-cream);
  display: grid;
  place-content: center;
}
.four-zero-four-header {
  --max-width: 1200px;
  height: 500px;
  display: grid;
  align-content: center;
  text-align: center;
  border-radius: 12px;
  border-style: solid;
  border-color: var(--clr-gray-dark);
  box-shadow: 14px 14px 0px 0px var(--clr-gray-dark);
  background-color: var(--clr-cream);
}

/* ==========================================================================
Layout
========================================================================== */
.content-column {
  width: min(var(--max-width, 1000px), 100% - var(--gutter, 2rem) * 2);
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.grid-auto-fit {
  display: grid;
  grid-gap: var(--gap, 1rem);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min, 15ch)), 1fr));
}

.grid-auto-fill {
  display: grid;
  grid-gap: var(--gap, 1rem);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min, 15ch)), 1fr));
}

.flexbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1rem);
}

.flexbox-grid > * {
  flex: 1 1 var(--min, auto);
}

.stack-layout {
  display: grid;
  grid-template-areas: "stack";
}

.stack-layout > * {
  grid-area: stack;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

/* ==========================================================================
Utility
========================================================================== */
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-regular {
  font-size: var(--fs-regular);
}

.fs-semimedium {
  font-size: var(--fs-semi-medium);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-extramedium {
  font-size: var(--fs-extra-medium);
}

.fs-semilarge {
  font-size: var(--fs-semi-large);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-extralarge {
  font-size: var(--fs-extra-large);
}

.uppercase {
  text-transform: uppercase;
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.ff-accent {
  font-family: var(--ff-accent);
}

.order-first {
  order: -1;
}

.order-last {
  order: 999;
}

.is-hidden {
  display: none;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.my-auto {
  margin-inline: auto;
}

.mx-auto {
  margin-block: auto;
}

.min-auto {
  --min: auto;
}

/*# sourceMappingURL=style.css.map */