<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Service Unavailable</title>

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="error-page">
    <div class="texture"></div>
    <header class="error-page-header | content-column">
        <h1 class="fw-bold fs-large">Error 503: Service Unavailable</h1>
        <p>Unable to connect to database</p>

        <nav>
            <a href="../../index.view.php" class="button">
                <span class="button__shadow"></span>
                <span class="button__edge"></span>
                <span class="button__front">← Go Back</span>
            </a>
        </nav>
    </header>
</body>
</html>